# OS files
.DS_Store

# Editor / IDE
.idea/
.vscode/
*.iml

# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

# Android
android/.gradle/
android/captures/
android/local.properties
android/key.properties
**/*.jks
**/*.keystore

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/

# Xcode
**/DerivedData/
*.mode1v3
*.mode2v3
*.moved-aside
*.pbxuser
*.perspectivev3

